* {
    font-family: -apple-system;
    font-weight: 400;
}

body {
    background-size: cover;
    background-position: center;
    color: white;
    overflow: hidden;
}

::-webkit-scrollbar { 
    display: none; 
}

h1 {
    font-weight: 400; 
    font-size: 28px;
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
}

h2 {
    font-weight: 400; 
    font-size: 18px;
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
}

h3 {
    font-size: 16px;
    font-weight: 400;
    margin-left: auto; 
    margin-right: auto;
}

p {
    font-weight: 400; 
    font-size: 14px;
    width: 90%;
    margin-left: 5%;
    max-width: 300;
}

a {
    color: white;
    cursor: default;
}

a:link {
    text-decoration: none;
}

span {
    display: inline-block;
    vertical-align: middle;
}

input {
    width: 80%;
    border: 0;
    outline: none;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: white; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    pointer-events: auto;
    -webkit-user-select: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 5%;
    width: 90%;
}

li img {
    float: left;
    list-style-type: none;
    margin: 0 12px 0 0;
    height: 8vh;
    max-height: 96px;
    border-radius: 7px;
}

li {
    list-style-type: none;
    padding: 4px;
    overflow: auto;
    border-radius: 5px;
}

li:hover {
    list-style-type: none;
    background: rgba(255, 255, 255, 0.1);
}

.WindowLayout {
    position: fixed;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}

.SearchLayout {
    padding-top: 20pt; 
    -webkit-user-select: none;
    pointer-events: none;
    min-width: 200px;
}

.SearchListItemCaption {
    font-size: 16px;
    font-weight: 400;
    padding-top: -webkit-calc(3vh - 12px);
    max-height: 96px;
}

.SearchListItemLabel {
    font-size: 12px;
    font-weight: 300;
}

.PasswordEntryLayout {
    padding-top: 20pt; 
    -webkit-user-select: none;
    pointer-events: none;
}

.grid-container {
    border-radius: 5px;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    padding: 0px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px;
    padding: 16px;
    font-size: 30px;
    text-align: center;
}

::-webkit-input-placeholder {
  color: #ccc;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.animated {
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s;
}

.scrollable {
    overflow-y:scroll; 
    max-height: -webkit-calc(100vh - 90px);
    margin-top: 10px;
    padding-top: -20px;
    pointer-events: auto;
}

.selectable {
    -webkit-user-select: auto;
    pointer-events: auto;
}

.clickable {
    pointer-events: auto;
}

.editable {
    background-color: rgba(255, 255, 255, 0.1);;
    color: #fafafa; 
    display: block;
    margin : 0 auto;
    width: 80%;
    font-size: 16px;
    padding: 6px;
    border: 0;
    outline: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    pointer-events: auto;
    -webkit-user-select: auto;
    max-width: 300px
}

.editable:focus {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.editable.searchfield {
    background: rgba(255, 255, 255, 0.1) url(../symbols/search_small.png) no-repeat scroll 8px 8px;
    background-size: 14px;
    padding-left: 30px;
}

.editable.password {
    background: rgba(255, 255, 255, 0.1) url(../symbols/key_small.png) no-repeat scroll 8px 8px;
    background-size: 14px;
    padding-left: 30px;
}

.editable.username {
    background: rgba(255, 255, 255, 0.1) url(../symbols/user_small.png) no-repeat scroll 8px 8px;
    background-size: 14px;
    padding-left: 30px;
}

.editable.server {
    background: rgba(255, 255, 255, 0.1) url(../symbols/server_small.png) no-repeat scroll 8px 8px;
    background-size: 14px;
    padding-left: 30px;
}

.editable.port {
    background: rgba(255, 255, 255, 0.1) url(../symbols/port_small.png) no-repeat scroll 8px 8px;
    background-size: 14px;
    padding-left: 30px;
}

.editable.name {
    background: rgba(255, 255, 255, 0);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 28px;
}

.editable.ca {
    background: rgba(255, 255, 255, 0.1) url(../symbols/port_small.png) no-repeat scroll 10px 10px;
    background-size: 14px;
    padding-left: 30px;
    width: 60%;
}

.button {
    background: rgba(30, 34, 37, 0.0);
    transition: background 0.2s;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 20px;
    width: 32px;
    height: 32px;
    pointer-events: auto;
    -webkit-user-select: auto;
}

.button:hover {
    background: rgba(255, 255, 255, 0.1);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background 0.2s;
    pointer-events: auto;
    -webkit-user-select: auto;
}

.button:active {
    background: rgba(255, 255, 255, 0.3);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 20px;
    width: 32px;
    height: 32px;
    pointer-events: auto;
    -webkit-user-select: auto;
}

.button.ok {
    background-image:url(../buttons/check.png);
}

.button.cancel {
    background-image:url(../buttons/times.png);
}

.button.rerand{
    background-image:url(../buttons/dice.png);
}

.button.add{
    background-image:url(../buttons/arrow-up.png);
}

.button.download{
    background-image:url(../buttons/arrow-down.png);
}

.button.refresh{
    background-image:url(../buttons/history.png);
}

.button.delete {
    background-image:url(../buttons/trash.png);
}

.button.sign {
    background-image:url(../buttons/signfile.png);
}

.symbol {
    max-width: 100px;
    max-height: 100px;
    margin: auto;
    margin-top: -webkit-calc(20vh + 30px);
}

.symbol.trash {
    content:url(../symbols/trash.png);
}

.symbol.lock {
    content:url(../symbols/lock.png);
}

.symbol.search {
    content:url(../symbols/search.png);
}

.bottom-toolbar {
    height: 48px;
    width: 100%;
    text-align: center; 
    opacity: 0.2;
    transition: opacity 0.5s;
    position: absolute;
    bottom: 0;
}

.bottom-toolbar:hover {
    height: 48px;
    width: 100%;
    opacity: 1; 
    transition: opacity 0.5s;
    position: absolute;
    bottom: 0;
}

.trash-toolbar {
    height: 48px;
    text-align: center; 
    position: absolute;
    bottom: 0;
}
